<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorator="'layout/LayoutPadrao'" >
	
	<head>
		<title>Pesquisa de venda</title>
	</head>
	
	<body>
		
		<section layout:fragment="conteudo" >
			
			<div class="page-header" >
				
				<div class="container-fluid" >
					
					<div class="row" >
						
						<div class="col-sm-10" >
							<h1>Pesquisa de vendas</h1>
						</div>
						
						<div class="col-sm-2" >
							
							<div class="aw-page-header-controls" >
								
								<a class="btn btn-default" th:href="@{/vendas/nova}" >
									<i class="glyphicon glyphicon-plus-sign" ></i>
									<span class="hidden-xs hidden-sm" >Nova venda</span>
								</a>
								
							</div>
							
						</div>
						
					</div>
										
				</div>
				
			</div>
			
			<div class="container-fluid" >
				
				<form method="GET" th:object="${vendaFilter}" th:action="@{/vendas}" >
					
					<!-- CODIGO | STATUS -->
					<div class="row" >
						
						<div class="form-group col-sm-6" >
							<label for="codigo" class="control-label" >Código</label>
							<input th:field="*{codigo}" type="text" class="form-control" id="codigo" autofocus="autofocus" />
						</div>
						
						<div class="form-group col-sm-6" >
							
							<label for="status" class="control-label" >Status</label>
							<select th:field="*{status}" class="form-control" id="status" >
								<option value="" >Todos os status</option>
								<option th:each="status : ${status}" th:value="${status}" th:text="${status.descricao}" ></option>
							</select>
							
						</div>
						
					</div>
					
					<!-- Data de criação | Valor total -->
					<div class="row" >
						
						<div class="form-group col-sm-6" >
							
							<label for="dataCriacaoInicial" >Data de criação</label>
							<div class="form-inline" >
								<input th:field="*{desde}" type="text" class="form-control aw-form-control-inline-sm js-date" id="dataCriacaoInicial" autocomplete="off" />
								<label for="dataCriacaoFinal" class="aw-form-label-between" >até</label>
								<input th:field="*{ate}" type="text" class="form-control aw-form-control-inline-sm js-date" id="dataCriacaoInicial" autocomplete="off" />
							</div>
							
						</div>
						
						<div class="form-group col-sm-6" >
							
							<label for="valorMinimo" >Valor total</label>
							<div class="form-inline" >
								<input th:field="*{valorMinimo}" type="text" class="form-control aw-form-control-inline-sm js-decimal" id="valorMinimo" />
								<label for="valorMaximo" class="aw-form-label-between" >Até</label>
								<input th:field="*{valorMaximo}" type="text" class="form-control aw-form-control-inline-sm js-decimal" id="valorMaximo" />
							</div>
										
						</div>
						
					</div>
					
					<!-- Nome Cliente | CPF/CNPJ -->
					<div class="row" >
						
						<div class="form-group col-sm-6" >
							
							<label for="nomeCliente" class="control-label" >Nome cliente</label>
							<input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}" />
							
						</div>
						
						<div class="form-group col-sm-6" >
							<label for="cpfOuCnpj" class="control-label" >CPF/CNPJ</label>
							<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpjCliente}" />
						</div>
						
					</div>
					
					<button type="submit" class="btn  btn-primary">Pesquisar</button>
					
				</form>
				
			</div>
			
			<div class="table-responsive bw-tabela-simples" >
				
				<table class="table table-hover" >
					
					<thead>
						
						<tr>
							
							<th>Código</th>
							<th class="text-center" >
								
								<brewer:order page="${pagina}" field="c.nome" text="Cliente" />
								
							</th>
							<th>Data de criação</th>
							<th>Valor total</th>
							<th>Vendedor</th>
							<th>Status</th>
							<th></th>
						</tr>
						
					</thead>
					
					<tbody>
						
						<tr th:each="venda : ${pagina.conteudo}" >
							
							<td th:text="${venda.codigo}" ></td>
							<td th:text="${venda.cliente.nome}" class="text-center" ></td>
							<td th:text="${#temporals.format(venda.dataCriacao, 'dd/MM/yyyy HH:mm')}" ></td>
							<td th:text="|R$ ${{venda.valorTotal}}|" ></td>
							<td th:text="${venda.usuario.nome}" ></td>
							<td th:text="${venda.status.descricao}" ></td>
							<td class="text-center" >
								
								<a href="#" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="Editar" >
									<span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
								</a>
								
							</td>
							
						</tr>
						
						<tr th:if="${pagina.vazia}" >
	                		<td colspan="7">Nenhuma venda encontrada</td>
	                	</tr>
						
					</tbody>
					
				</table>
				
			</div>
			
			<brewer:pagination page="${pagina}" />
			
		</section>
		
	</body>
	
</html>